#moveOverlay {
	width: 698px;
	text-align:center;
	line-height:403px;
	color: #FFF;
	font-weight: bold;
	height: 403px;
	background: #000;
	position:absolute;
	z-index:5;
	margin-left:-8px;
	margin-top: -8px;
	cursor:pointer;
}
#more,
#ape_master_container{
	width:685px;
	margin:auto;
	font-family:'Verdana',"Lucida Grande",'Arial','sans-serif';
}
#ape_master_container{
	height:385px;
	background:url(Images/bg.png);
	border:8px solid #4c4c4c;
}
#sendbox_input{
	border:none;
	font-weight:bold;
	width:540px;
	margin-right:10px;
	border:none;
	background:none;
	color:#FFF;
}
.demo_box_container .user{
	width:100%;
	height:100%;
}
.demo_box_container{
	width:36px;
	height:36px;
	position:absolute;
}
.demo_box_container .user{
	background:url(Images/round.png);
	-background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop src='Images/round.png');
}
.demo_box_container span.you {
	color: #D58025;
	font-weight:bold;
}
.demo_box_container span{
	color:white;
	font-size:14px;
	width:36px;
	text-align:center;
	display:inline-block;
}
#ape_sendbox_container{
	border-left:4px #FFF;
	background:url('Images/bottom.png');
	width:686px;
	margin-left:-8px;
	margin-top:385px;
	height:49px;
	margin-top:345px;
	color:#FFF;
	font-weight:bold;
	padding-left:15px;
	line-height:51px;
	font-size:13px;
}
#sendbox_button{
	color:#d58025;
	width:70px;
	height:35px;
	background:none;
	font-weight:bold;
	border:none;
}
.ape_message_container{
	white-space:normal;
	width:244px;	
	margin-left:21px;
	margin-top:-77px;
}
.msg_top{
	background:url(Images/msg_top.png) no-repeat;
	padding-top:5px;
	height:17px;
}
.ape_message{
	background:url(Images/msg_mid.png) repeat-y;
	padding-left:24px;
	overflow:hidden;
	font-size:16px;
	line-height:20px;
	font-family:Verdana;
	color:#5f5f60;
}
.msg_bot{
	background:url(Images/msg_bot.png) repeat-y;
	height:9px;
}
.move_box{
	cursor:pointer;
	height:345px;
	width:682px;
	position:absolute;
}
